@charset "UTF-8";

body {
    background-color: rgb(211, 193, 193);
}

header {
    background-image:url(logo\ 2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 650px;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    
}

nav {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: rgb(131, 62, 62);
    font-style: bold;
    padding: 30px;
    font-family: 'minhafonte'
}
nav > a:hover {
        text-decoration: dashed;
}